{% comment %} 
  Renders embroidery cart
  Accepts: 
  - item: {Object} item object.
 
  Usage:
  {% render 'embroidery-cart', item: item %} 
{% endcomment %}

<embroidery-custom-cart>
{% if item.properties['Add Embroidery'] == "Yes" %}

  <tr class="grid mt-4" id="embroidery-section-{{ item.key }}" role="row">
    <td id="embroidery-section" colspan="4" class="border border-none rounded-md !p-8  {% if item.properties['Add Embroidery'] == "Yes" %} bg-[#F5F5F5] {% endif %} w-full" >
      <div class="embroidery-option">
        <div class="flex items-center gap-2">
          <label for="embroidery-{{ item.key }}" class="flex items-center cursor-pointer relative">
            <input id="embroidery-{{ item.key }}" 
            {% if item.properties['Add Embroidery'] %} checked {% endif %}
            data-item-key="{{ item.key }}" form="{{ product_form_id }}" type="checkbox" name="properties[Add Embroidery]" value="Yes" 
            class="embroidery-checkbox mr-0 bg-white peer !h-6 !w-6 cursor-pointer transition-all appearance-none rounded-[5px] border border-slate-300 checked:bg-slate-800 checked:border-slate-800">
              <span class="absolute text-white opacity-0 peer-checked:opacity-100 top-0.5 left-1 transform w-5 h-5">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-4" viewBox="0 0 20 20" fill="currentColor" stroke="currentColor" stroke-width="1">
                <path fill-rule="evenodd"
                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                clip-rule="evenodd"></path>
              </svg>
              </span>
            </label>
            <label class="text-2xl cursor-pointer text-gray-900 font-semibold" for="embroidery-{{ item.key }}">
              Add Embroidered Name <span class="text-2xl font-semibold text-gray-900">(+{{ item.properties['Embroidery Price'] | money_without_trailing_zeros }})</span>
              </label>
        </div>
        {% if item.properties['Embroidery Character'] or item.properties['Embroidery Color'] or item.properties['Embroidery Font'] %}
          <div class="mt-3 embroidery-display {% unless item.properties['Add Embroidery'] %}hidden{% endunless %}">
            <p class="text-2xl">
              Embroidered Name: "{{ item.properties['Embroidery Character'] }}", 
              {{ item.properties['Embroidery Color'] }}, 
              {{ item.properties['Embroidery Font'] }}
            </p>
          </div>
      {% endif %}

      </div>
      </td>
  </tr>
{% endif %}
</embroidery-custom-cart>


